<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Daily Report</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="mt-2">
      <%= form_with url: "/users", method: :get do |form| %>
        <%= form.label :query, "Search for:" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
      <% end %>
    </div>
    <div class="mt-2">
      <h5> Total User Count: <%= @users.count %> </h5>
    </div>
    <p style="color: green"><%= notice %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.age %></td>
            <td class="text-capitalize"><%= user.gender %></td>
            <td><%= user.created_at %></td>
            <td><%= button_to "Delete", user, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="ms-5 mt-2 mb-2">
      <%= will_paginate @users %>
    </div>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Male Count</th>
          <th>Female Count</th>
          <th>Male Average Age</th>
          <th>Female Average Age</th>
        </tr>
      </thead>
      <tbody>
        <% @daily_record.each do |record| %>
          <tr>
            <td><%= record.date %></td>
            <td><%= record.male_count %></td>
            <td><%= record.female_count %></td>
            <td><%= record.male_avg_age %></td>
            <td><%= record.female_avg_age %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>